Pillow>=9.0.0
DateTime>=4.3
pip>=22.1
wheel>=0.36.2
pytz>=2021.3
Babel>=2.9.1
numpy
setuptools>=57.0.0
Send2Trash>=1.8.0
Django>=4.0
django-image-cropping>=1.7
sqlparse>=0.4.2
psycopg2>=2.9.3
asgiref>=3.4.1
pandas>=1.4.0
python-dateutil>=2.8.2
tablib>=3.2.0
py-moneyed>=1.2
six>=1.16.0
datetime2>=0.7.5
django-crispy-forms>=1.13.0
django-filter>=21.1
django-appconf>=1.0.5
gunicorn>=20.1.0
whitenoise